@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;900&family=Roboto:wght@300;400;500;900&display=swap');


$background1: #ecebe9;
$primaryColor: #be0404;
$fontColor: #292d32;
$bigFontColor: #be0404;
$fontFamily: 'Roboto', sans-serif;